/* FORCE NORD COLORS */
* {
    font-family: "JetBrainsMono Nerd Font";
}

.notification-row {
    outline: none;
}

.notification-row:focus,
.notification-row:hover {
    background: rgba(67, 76, 94, 0.8); /* Nord Selection */
}

.notification {
    background: #2e3440; /* Nord Polar Night */
    border: 2px solid #88c0d0; /* Nord Frost Blue */
    border-radius: 10px;
    color: #d8dee9;
    margin: 8px;
    padding: 10px;
}

/* This is the slide-out panel itself */
.control-center {
    background: rgba(46, 52, 64, 0.95);
    border-left: 2px solid #81a1c1;
    color: #d8dee9;
    padding: 10px;
}

.widget-title > label {
    color: #88c0d0;
    font-size: 20px;
}
